## Main config
cluster.name: "MyCluster"
node.name: "MyNode-01"
node.master: true
index.number_of_shards: 1
index.number_of_replicas: 0
# bootstrap.mlockall: true
# network.bind_host: 192.168.0.1
# network.publish_host: 192.168.0.1
network.host: 127.0.0.1
